{% extends "article_temlpate.html" %}
{% block style %}../static/style.css{% endblock %}
{% block title %}О справочнике{% endblock %}
{% block header %}О справочнике{% endblock %}
{% block article_body %}
    <p>Справочник создавался, как продукт в школьном проекте.</p>
    <p>Цель справочника: помочь ученикам в сдаче ЕГЭ по информатике.</p>
    <p>Цель достигается с помощью ознакомления учеников со структурой заданий экзамена, и порядком его проведения.</p> 
    <p>Для успешного выполнении заданий ученикам надо практиковаться. Для тренировки сущестуют разделы "Вариант ЕГЭ" и "Задания".</p>
    <p>Краткое описание разделов сайта:</p>
    <ul>
        <li><b>Вариант ЕГЭ</b></li>
        <p>При открытии раздела пользователю предлагается решить сгенерированный набор заданий, который примерно повторяет структуру заданий ЕГЭ по информатике. 
            Тренирующийся читает условие задания и вводит свой ответ в соответствующее поле под заданием. 
            В конце выполнения заданий пользователь нажимает на кнопку "Отправить на проверку", и система сообщает пользователю сколько первичных баллов он набрал.</p>
        <li><b>Задания</b></li>
        <p>Предоставляет доступ ко всем заданиям, доступным в базе данных справочника. Задания распределены по своему номеру в структуре ЕГЭ. 
            Также можно найти задание по уникальному ID, который всегда указывается в заголовке задания.</p>
        <li><b>Структура заданий</b></li>
        <p>Содержит информацию о структуре заданий экзамена.</p>
        <li><b>Справка</b></li>
        <p>Содержит информацию о порядке проведения экзамена.</p>
        <li><b>Полезные ссылки</b></li>
        <p>Ссылки на ресурсы, которые также могут помочь подготовиться к экзамену.</p>
    </ul>
{% endblock %}
