{% extends "article_temlpate.html" %}
{% block style %}../static/style.css{% endblock %}
{% block title %}Полезные ссылки{% endblock %}
{% block header %}Полезные ссылки{% endblock %}
{% block article_body %}
    <p>Для более полной подготовки к экзамену рекомендуем дополнительно изучить данные материалы:</p>
    <ul>
        <li><b>Сайт ФГБНУ "ФИПИ"</b>  <a href="https://fipi.ru">ссылка</a></li>
        <p>На сайте можно скачать демоверсии, спецификации, кодификаторы. Можно воспользоваться открытым банком заданий ЕГЭ.</p>
        <li><b>Решу ЕГЭ</b>  <a href="https://inf-ege.sdamgia.ru/">ссылка</a></li>
        <p>Образовательный портал для подготовки к экзаменам, на котором можно тренироваться в выполнении отдельных заданий, распределённых по группам. 
            Есть возможность проходить сгенерированный тестовые варианты.</p>
        <li><b>kpolyakov.spb.ru</b>  <a href="https://kpolyakov.spb.ru/school/ege.htm">ссылка</a></li>
        <p>Сайт одного из авторов учебника информатики для средней школы (10–11 классы). На сайте есть рекомендации по методам 
            решения каждой конкретной задачи. Есть ьренажёр компьютерного ЕГЭ.</p>
    </ul>
{% endblock %}
