<div class="flex_side_menu_right">
    <button class="right_menu_button" 
     onclick="console.log(getElementById('hidden_instruction').style.visibility);if (getElementById('hidden_instruction').style.visibility == 'hidden') getElementById('hidden_instruction').style.visibility = 'visible';
     else getElementById('hidden_instruction').style.visibility = 'hidden'">инструкция</button>
</div>
<div class="hidden_instruction" id="hidden_instruction" style="visibility: hidden;">
    <style>
        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
    <h2 style="text-align: center;"><b>Инструкция по выполнению работы</b></h2>
    <p><span class="tab"></span>Экзаменационная  работа  состоит  из 27  заданий  с  кратким  ответом, выполняемых с помощью компьютера. <br>
        <span class="tab"></span>На  выполнение  экзаменационной  работы  по  информатике  отводится 3 часа 55 минут (235 минут).  <br>
        <span class="tab"></span>Экзаменационная  работа  выполняется  с  помощью специализированного  программного  обеспечения,  предназначенного  для проведения экзамена в компьютерной форме. При выполнении заданий Вам будут  доступны  на  протяжении  всего  экзамена  текстовый  редактор, редактор  электронных  таблиц,  системы  программирования.  Расположение указанного  программного  обеспечения  на  компьютере  и  каталог  для создания  электронных  файлов  при  выполнении  заданий  Вам  укажет организатор в аудитории. <br>
        <span class="tab"></span>На протяжении сдачи экзамена доступ к сети Интернет запрещён. <br>
        <span class="tab"></span>При  выполнении  заданий  можно  пользоваться  черновиком.  Записи в черновике не учитываются при оценивании работы. <br>
        <span class="tab"></span>Баллы,  полученные  Вами  за  выполненные  задания,  суммируются. Постарайтесь выполнить как можно больше  заданий и набрать наибольшее количество баллов. <br>
         
        Желаем успеха! 
    </p>
    <br>
    <p>
        В экзаменационных заданиях используются следующие соглашения. <br>
        <br>
        1. Обозначения для логических связок (операций): <br>
        a)  отрицание (инверсия, логическое НЕ) обозначается ¬ (например, ¬А); <br>
        b)  конъюнкция (логическое  умножение,  логическое  И)  обозначается /\  (например, А /\ В) либо & (например, А & В); <br>
        c)  дизъюнкция (логическое  сложение,  логическое  ИЛИ)  обозначается \/  (например, А \/ В) либо | (например, А | В);  <br>
        d)  следование (импликация) обозначается → (например, А → В); <br>
        e)  тождество обозначается ≡ (например, A ≡ B). Выражение A ≡ B истинно тогда  и  только  тогда,  когда  значения  A  и  B  совпадают (либо  они  оба истинны, либо они оба ложны); <br>
        f)  символ 1  используется  для  обозначения  истины (истинного высказывания);  символ 0 –  для  обозначения  лжи (ложного высказывания).<br>
        
        2. Два  логических  выражения,  содержащих  переменные,  называются равносильными (эквивалентными),  если  значения  этих  выражений совпадают  при  любых  значениях  переменных.  Так,  выражения  А  →  В  и (¬А) \/  В  равносильны,  а  А \/  В  и  А /\  В  неравносильны (значения выражений разные, например, при А = 1, В = 0). <br>
        <br>
        3. Приоритеты  логических  операций:  инверсия (отрицание),  конъюнкция (логическое  умножение),  дизъюнкция (логическое  сложение),  импликация (следование),  тождество.  Таким  образом, ¬А /\  В \/ С /\ D  означает  то же, что и ((¬А) /\ В) \/ (С /\ D).  <br>
        Возможна  запись  А /\  В /\  С  вместо (А /\ В) /\  С.  То  же  относится и к дизъюнкции: возможна запись А \/ В \/ С вместо (А \/ В) \/ С. <br>
        <br>
        4. Обозначения  Мбайт  и  Кбайт  используются  в  традиционном  для информатики смысле – как обозначения единиц измерения, чьё соотношение с единицей «байт» выражается степенью двойки.
    </p>
</div>