{% extends "article_temlpate.html" %}
{% block header %}Структура заданий{% endblock %}
{% block article_body %}
<p>Рекомендуем для получения большей информации о структуре заданий ознакомиться со спецификациями на <a href="https://fipi.ru/ege/demoversii-specifikacii-kodifikatory#!/tab/151883967-5">сайте ФИПИ</a></p>
<div class="line-1"></div>
<p>ЕГЭ по информатике в 2022 году будет состоять из 27 заданий</p>
<div class="flex-container-tasks">
	<a class="task-anchor" href="#1">1</a>
	<a class="task-anchor" href="#2">2</a>
	<a class="task-anchor" href="#3">3</a>
	<a class="task-anchor" href="#4">4</a>
	<a class="task-anchor" href="#5">5</a>
	<a class="task-anchor" href="#6">6</a>
	<a class="task-anchor" href="#7">7</a>
	<a class="task-anchor" href="#8">8</a>
	<a class="task-anchor" href="#9">9</a>
	<a class="task-anchor" href="#10">10</a>
	<a class="task-anchor" href="#11">11</a>
	<a class="task-anchor" href="#12">12</a>
	<a class="task-anchor" href="#13">13</a>
	<a class="task-anchor" href="#14">14</a>
	<a class="task-anchor" href="#15">15</a>
	<a class="task-anchor" href="#16">16</a>
	<a class="task-anchor" href="#17">17</a>
	<a class="task-anchor" href="#18">18</a>
	<a class="task-anchor" href="#19">19</a>
	<a class="task-anchor" href="#20">20</a>
	<a class="task-anchor" href="#21">21</a>
	<a class="task-anchor" href="#22">22</a>
	<a class="task-anchor" href="#23">23</a>
	<a class="task-anchor" href="#24">24</a>
	<a class="task-anchor" href="#25">25</a>
	<a class="task-anchor" href="#26">26</a>
	<a class="task-anchor" href="#27">27</a>
</div>
<div class="line-1"></div>
<h2 id="1" class="structure-title">1</h2>
<p><b>Проверяет:</b> yмение  представлять  и  считывать  данные  в  разных  типах информационных  моделей (схемы,  карты,  таблицы,  графики и формулы) </p>
<div class="line-1"></div>
<h2 id="2" class="structure-title">2</h2>
<p><b>Проверяет:</b> умение  строить  таблицы  истинности и логические схемы</p>
<div class="line-1"></div>
<h2 id="3" class="structure-title">3</h2>
<p><b>Проверяет:</b> умение  поиска  информации в реляционных базах данных</p>
<div class="line-1"></div>
<h2 id="4" class="structure-title">4</h2>
<p><b>Проверяет:</b> умение  кодировать  и  декодировать информацию</p>
<div class="line-1"></div>
<h2 id="5" class="structure-title">5</h2>
<p><b>Проверяет:</b> формальное  исполнение  простого  алгоритма,  записанного  на естественном  языке,  или  умение создавать  линейный  алгоритм для  формального  исполнителя с ограниченным набором команд, или  умение  восстанавливать исходные  данные  линейного алгоритма  по  результатам  его работы</p>
<div class="line-1"></div>
<h2 id="6" class="structure-title">6</h2>
<p><b>Проверяет:</b> знание  основных  конструкций языка  программирования,  понятия  переменной,  оператора присваивания</p>
<div class="line-1"></div>
<h2 id="7" class="structure-title">7</h2>
<p><b>Проверяет:</b> умение  определять  объём памяти, необходимый для хранения  графической  и  звуковой информации</p>
<div class="line-1"></div>
<h2 id="8" class="structure-title">8</h2>
<p><b>Проверяет:</b> знание  основных  понятий  и  методов,  используемых  при   измерении количества информации </p>
<div class="line-1"></div>
<h2 id="9" class="structure-title">9</h2>
<p><b>Проверяет:</b> умение  обрабатывать  числовую информацию  в  электронных таблицах</p>
<div class="line-1"></div>
<h2 id="10" class="structure-title">10</h2>
<p><b>Проверяет:</b> информационный  поиск  средствами  операционной  системы или текстового процессора</p>
<div class="line-1"></div>
<h2 id="11" class="structure-title">11</h2>
<p><b>Проверяет:</b> умение  подсчитывать  информационный объём сообщения</p>
<div class="line-1"></div>
<h2 id="12" class="structure-title">12</h2>
<p><b>Проверяет:</b> умение  исполнить  алгоритм  для конкретного  исполнителя  с  фик-сированным набором команд</p>
<div class="line-1"></div>
<h2 id="13" class="structure-title">13</h2>
<p><b>Проверяет:</b> умение  представлять  и  считывать  данные  в  разных  типах информационных  моделей (схемы,  карты,  таблицы,  графики и формулы)</p>
<div class="line-1"></div>
<h2 id="14" class="structure-title">14</h2>
<p><b>Проверяет:</b> знание  позиционных  систем счисления</p>
<div class="line-1"></div>
<h2 id="15" class="structure-title">15</h2>
<p><b>Проверяет:</b> знание  основных  понятий  и  законов математической логики</p>
<div class="line-1"></div>
<h2 id="16" class="structure-title">16</h2>
<p><b>Проверяет:</b> вычисление  рекуррентных  выражений</p>
<div class="line-1"></div>
<h2 id="17" class="structure-title">17</h2>
<p><b>Проверяет:</b> умение  составить  алгоритм обработки  числовой  последовательности  и записать  его в виде  простой  программы (10-15  строк)  на  языке  программирования</p>
<div class="line-1"></div>
<h2 id="18" class="structure-title">18</h2>
<p><b>Проверяет:</b> умение  использовать  электронные  таблицы  для  обработки целочисленных данных</p>
<div class="line-1"></div>
<h2 id="19" class="structure-title">19</h2>
<p><b>Проверяет:</b> умение  анализировать  алгоритм логической игры</p>
<div class="line-1"></div>
<h2 id="20" class="structure-title">20</h2>
<p><b>Проверяет:</b> умение  найти  выигрышную стратегию игры</p>
<div class="line-1"></div>
<h2 id="21" class="structure-title">21</h2>
<p><b>Проверяет:</b> умение  построить  дерево  игры по  заданному алгоритму и найти выигрышную стратегию</p>
<div class="line-1"></div>
<h2 id="22" class="structure-title">22</h2>
<p><b>Проверяет:</b> умение  анализировать  алгоритм, содержащий ветвление и цикл</p>
<div class="line-1"></div>
<h2 id="23" class="structure-title">23</h2>
<p><b>Проверяет:</b> умение  анализировать  результат исполнения  алгоритма,  содержащего ветвление и цикл</p>
<div class="line-1"></div>
<h2 id="24" class="structure-title">24</h2>
<p><b>Проверяет:</b> умение  создавать  собственные программы (10–20 строк) для обработки символьной информации</p>
<div class="line-1"></div>
<h2 id="25" class="structure-title">25</h2>
<p><b>Проверяет:</b> умение  создавать  собственные программы (10–20 строк) для обработки  целочисленной  информации</p>
<div class="line-1"></div>
<h2 id="26" class="structure-title">26</h2>
<p><b>Проверяет:</b> умение  обрабатывать  целочисленную  информацию  с  использованием сортировки</p>
<div class="line-1"></div>
<h2 id="27" class="structure-title">27</h2>
<p><b>Проверяет:</b> Умение  создавать  собственные программы (20–40  строк)  для анализа числовых последовательностей</p>
{% endblock %}