{% extends "article_temlpate.html" %}
{% block title %}Вариант ЕГЭ{% endblock %}
{% block header %}Вариант ЕГЭ{% endblock %}
{% block article_body %}
	<form method="post">
	{% for task in tasks %}
		<p class="task_header"><b>Задание {{ loop.index }}</b></p>
		<p class="task_id">id: {{task.base_id}}</p>
		<p>{{ task.text }}</p>
		{% for image in task.illustrations %}
			<img src="static/img/1/{{ image.image_path }}" alt="Картинка"  style="margin-bottom: 0px">
		{% endfor %}
		<input type="text" id="taskId1" name="taskId1" readonly="true" value="{{ task.id }}" class="hidden_task_id"><br>
		<p>Введите ответ:</p>
		<input type="text" id="answer1" name="answer1" class="answer_input" style="margin-top: 0px"><br>
	{% endfor %}
	<input type="submit" value="Отправить на проверку" class="button">
	</form>
{% endblock %}